body {
  background: #0C182B;
  font-size: 11px;
  padding: 10rem 20rem 10rem 20rem;
  font-family: 'Outfit', sans-serif;
}

hr {
  border-color: #2E415A;
}

p {
  font-size: 18px;
}

/*CLASSES E IDs*/
.attribution {
  font-size: 11px;
  text-align: center;
  color: #3D51A2;
}

.avatar {
  position: relative;
  right: 0.5rem;
  float: left;
  max-width: 7%;
  padding-bottom: 1rem;
}

.baixo {
  position: relative;
  left: 2rem;
}

.conteiner {
  background-color: #14243D;
  padding: 1.5rem;
  border-radius: 3%;
  margin-left: 8rem;
  max-width: 50%;
}

.dias {
  color: #8BABD9;
  float: right;
  position: relative;
  bottom: 3.6rem;
}

.imagem {
  border-radius: 2%;
  max-width: 95%;
}

.hora {
  color: #00FFF6;
}

.nome {
  color: white;
}

.subtitulo {
  color: #8BABD9;
}

.titulo {
  color: white;
}
